[flake8]
max-line-length = 125
extend-ignore =
  E123,  # Closing brackets indent
  E126,  # Hanging indents
  E129,  # Visual indent
  E203,  # Whitespace before ':' (in accordance with Black)
  E231,  # Missing whitespace after ',' (in accordance with Black)
  E501,  # Max line length
  E722,  # bare-except
