*.pyc
*.pyo
*.log
*~
/.cache
/.coverage
coverage.xml
/.project
/.pydevproject
/.vagrant
/.idea
__pycache__/
/build/
/dist/
/*.egg-info/
/*-rpm-src.tar
/rpm/
.vagrant
/venv/
/.venv/
*.orig
Dockerfile.myhoard-test-temp
