# Use pip for build requirements to harmonize between OS versions
black==22.3.0
coverage
coveralls
flake8
httplib2
isort==5.10.1
mock
mypy
pre-commit
pylint-quotes
pylint>=2.4.3
PySocks
pytest
pytest-cov
pytest-mock
pytest-timeout
pytest-xdist
responses
types-PyMySQL
types-requests
