name: Build MyHoard

permissions: read-all

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:

jobs:
  lint:
    if: false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # only use one version for the lint step
        python-version: [3.6]
    env:
      MYSQL_VERSION: mysql-8.0

    steps:

      - id: checkout-code
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - id: prepare-python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - id: mysql-repos
        run: |
          wget -c 'https://repo.mysql.com/mysql-apt-config_0.8.22-1_all.deb'
          echo "mysql-apt-config mysql-apt-config/select-server select $MYSQL_VERSION" | sudo debconf-set-selections
          echo "mysql-apt-config mysql-apt-config/select-tools select Enabled" | sudo debconf-set-selections
          echo "mysql-apt-config mysql-apt-config/select-product select Ok" | sudo debconf-set-selections
          echo "mysql-apt-config mysql-apt-config/tools-component string mysql-tools" | sudo debconf-set-selections
          sudo dpkg -i mysql-apt-config_0.8.22-1_all.deb

      - id: percona-tools
        run: |
          wget https://repo.percona.com/apt/percona-release_latest.$(lsb_release -sc)_all.deb
          sudo dpkg -i percona-release_latest.$(lsb_release -sc)_all.deb
          sudo percona-release enable-only tools
          sudo apt update

      - id: build-deps
        run: |
          sudo apt install -y libsnappy-dev
          sudo apt-get install -q -y --allow-unauthenticated -o Dpkg::Options::=--force-confnew mysql-server percona-xtrabackup-80
          mysqld --version

      - id: python-deps
        run: |
          pip install -r requirements.txt
          pip install -r requirements.dev.txt
          pip install -e .

      - id: fmt
        continue-on-error: true
        run: |
          make fmt
          if [ $(git diff --name-only --diff-filter=ACMR | wc -l ) != 0 ]; then
          echo "Reformatting failed! Please run make fmt on your commits and resubmit!" 1>&2 ;
          git diff ;
          exit 1 ;
          fi

      - id: typecheck
        continue-on-error: true
        run: make typecheck

      - id: copyright
        run: make copyright

      - id: lint
        run: make lint


  unittest:
    runs-on: ubuntu-latest
    container: 
      image: ubuntu:focal
    strategy:
      matrix:
        python-version: ["3.10"]
        mysql-version: [8.0.27]

    steps:

      - id: checkout-code
        uses: actions/checkout@v2

      - id: prepare-python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - id: install-prereq
        run: scripts/install-prereq

      - id: remove-default-mysql
        run: scripts/remove-default-mysql

      - id: mysql-repos
        run: scripts/ci-setup-mysql-repos ${{ matrix.mysql-version }}

      - id: percona-tools
        run: scripts/ci-setup-percona

      - id: build-deps
        run: scripts/install-build-deps

      - id: python-deps
        run: scripts/install-python-deps

      - id: unittest
        run: make coverage

      - id: upload-codecov
        uses: codecov/codecov-action@v2
        with:
          verbose: true
